

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}


th { text-align: left; }
td { padding: 0 2em 1ex 0;}
th.center, td.center { text-align: center; }
th.num, td.num { text-align: right; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}